
@import 'nib'

logo-size(height)
    
    height: height
    width: round(height*4.125)

global-reset()

html, body

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: 'Montserrat', sans-serif
    text-align: center
    background: #1D2026
    overflow: hidden
    height: 100%
    color: #fff

.space
    
    background-position: center
    background-repeat: no-repeat
    background-size: 100%
    background-size: cover
    position: absolute
    opacity: 0.6
    height: 100%
    width: 100%
    left: 0
    top: 0
    
    &:after
        
        background: rgba(#000, 0.4)
        position: absolute
        content: ''
        display: block
        size: 100% 100%

.content
    
    margin-top: -160px
    position: absolute
    width: 100%
    left: 0
    top: 50%

.logo
    
    logo-size(104px)
    display: block
    margin: 0 auto
    fill: #fff

h1 em
    
    display: none

.caption
    
    text-transform: uppercase
    letter-spacing: 6px
    font-weight: 300
    margin-top: 64px
    font-size: 12px

.signup
    
    margin-top: 100px
    font-size: 0

    input
        
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        font-family: 'Montserrat', sans-serif
        transition: opacity 0.33s ease-out
        line-height: normal
        font-size: 14px
        outline: none
        padding: 12px 18px
        display: inline-block
        opacity: 0.75
        border: 1px solid #fff
        margin: 0
        
        &:-webkit-autofill
            
            -webkit-box-shadow: 0 0 0px 1000px white inset
        
        &::-moz-focus-inner

            padding: 0
            border: 0 
        
        &:focus
            
            outline: none
            
    &:hover input
        
        opacity: 1

    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
        
        color: #fff

    .email
        
        border-radius: 22px 0 0 22px
        text-transform: uppercase
        padding-right: 0
        border-right: none
        background: transparent
        width: 220px
        color: #fff

    .button
        
        border-radius: 0 22px 22px 0
        text-transform: uppercase
        letter-spacing: 0.033em
        background: #fff
        cursor: pointer
        
.mce_inline_error, #mce-responses
    
    text-transform: uppercase
    line-height: 1.5
    font-size: 12px
    max-width: 600px
    margin: 20px auto
    
/* Footer */

.footer
    
    text-transform: uppercase
    text-align: center
    font-size: 0
    position: absolute
    bottom: 40px
    width: 100%
    
    .follow, .message
        
        vertical-align: top
        line-height: 20px
        display: inline-block
            
    .follow
        
        height: 20px
            
    .message
        
        letter-spacing: 1px
        margin-left: 8px
        font-size: 11px
        opacity: 0.85

/* Animation */

@keyframes fade-in
    0% { opacity: 0; }
    100% { opacity: 1; }
    
@keyframes scale-in
    0% { transform: scale(1) rotate(3deg); opacity: 0; }
    100% { transform: scale(1.15) rotate(-1deg); opacity: 1; }
    
@keyframes slide-in
    0% { transform: translateY(10px); opacity: 0; }
    100% { transform: translateY(0px); opacity: 1; }
    
.space

    opacity: 0
    
    &.animate
        
        animation: scale-in 12s ease-out 0s forwards
    
.logo
    
    animation: fade-in 2.2s ease-in-out 0.8s forwards
    opacity: 0
    
.caption
    
    animation: fade-in 1.2s ease-in-out 1.5s forwards
    opacity: 0
    
.signup
    
    animation: slide-in 1.5s ease-in-out 2.5s forwards
    opacity: 0
    
.footer
    
    animation: fade-in 1.5s ease-in-out 3.5s forwards
    opacity: 0
    
// Breakpoints

@media only screen and (max-width: 600px)

    .content
        
        margin-top: -120px

    .logo
        
        logo-size(72px)
        
    .caption
        
        font-size: 11px

    .signup
        
        margin-top: 60px
        
        input
            
            font-size: 12px
        
        .email
            
            width: 200px
            